<h1>IKMB Genotyping GUI</h1>

<p>Enter and curate genotype-diagnosis relationships</p>

<ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Genotypes",   'http://localhost:3000/genotypes' %></li>
            <li><%= link_to "Diagnoses",   'http://localhost:3000/diagnoses' %></li>
</ul>
