    <header class="header">
      <div class="container">
        <nav>
          <ul>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Genotypes", genotypes_path %></li>
            <li><%= link_to "Diagnoses", diagnoses_path %></li>
          </ul>
        </nav>
      </div>
    </header>

